{% extends 'layout.html.twig' %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="comment">About</label>
        </div>
    </div>
</div>

{% endblock %}