{% extends 'layout.html.twig' %}

{% if form is defined %}
    {% form_theme form 'form/fields.twig' %}
{% endif %}

{% block title %}
    HashCode - Generate hash
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="Silex framework tutorial">
    <meta name="keywords" content="Silex,PHP,Symfony,framework,tutorial,example">
    <meta name="author" content="tim96">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {{ form(form, {'action': path('hash'), 'method': 'POST'}) }}
        </div>
    </div>

    {% if hash %}
        <div class="container">
            <div class="hash-result-body">
                <div class="row">
                    <h2>Hash result</h2>
                </div>
                <!-- todo: add color block and background -->
                <div class="row">
                    {% for item in result %}
                        <div class="row">
                            <div class="col-md-2">
                                <h4>{{ item.alg }}</h4>
                            </div>
                            <div class="col-md-10">
                                <div class="wordwrap">
                                    <h4><strong>{{ item.res }}</strong></h4>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    Time: <strong>{{ time*1000 }}</strong> microseconds
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}