{% extends 'layout.html.twig' %}

{% if form is defined %}
    {% form_theme form 'form/fields.twig' %}
{% endif %}

{% block content %}

    {# todo: rewrite form design #}
    <div class="row">
        <div class="col-md-12">
            {{ form(form, {'action': path('password'), 'method': 'POST'}) }}
        </div>
    </div>

    {% if result is not null %}
        <div class="hash-result-body">
            <table class="table table-striped">
                <thead><h2>Password generator result</h2></thead>
                <tbody>
                {% for item in result %}
                    <tr>
                        <td><h4>{{ item }}</h4></td>
                    </tr>
                {% endfor %}
                </tbody>
        </div>
    {% endif %}
{% endblock %}